In [2]:
!pip install ipython-sql
#!pip install psycopg2 #— for PostgreSQL (recommended for this course)
!pip install pymysql #— for MySQL
#!pip installf pyodbc #— for SQL Server

Requirement already satisfied: ipython-sql in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: six in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: sqlparse in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: pickleshare in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: backcall in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: appnope in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: decorator in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Requirement already satisfied: pymysql in /Users/apple/opt/anaconda3/lib/python3.8/site-packages (1.0.2)

# 1. Getting to know the data

In [3]:
%load_ext sql
%sql mysql+pymysql://student:mds-is-fun@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft

## a) Show a list of the tables included in the database.

In [4]:
%%sql 
SHOW TABLES

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
37 rows affected.

[('accused',),
 ('accused_family',),
 ('appeal',),
 ('calendarcustom',),
 ('case_person',),
 ('commission',),
 ('complaint',),
 ('confession',),
 ('counterstrategy',),
 ('demonicpact',),
 ('denunciation',),
 ('devilappearance',),
 ('elf_fairyelements',),
 ('imprisonment',),
 ('linkedtrial',),
 ('malice',),
 ('mentionedaswitch',),
 ('movestohla',),
 ('musicalinstrument',),
 ('ordeal',),
 ('othercharges',),
 ('othernamedwitch',),
 ('person',),
 ('prevcommission',),
 ('propertydamage',),
 ('ref_parish',),
 ('reference',),
 ('religiousmotif',),
 ('ritualobject',),
 ('shapechanging',),
 ('source',),
 ('torture',),
 ('trial',),
 ('trial_person',),
 ('weathermodification',),
 ('whitemagic',),
 ('witchesmeetingplace',)]

## b) Display the column names for the table accused.

In [5]:
%%sql
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'accused'
ORDER BY ORDINAL_POSITION

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
31 rows affected.

[('accusedref',),
 ('accusedsystemid',),
 ('accusedid',),
 ('firstname',),
 ('lastname',),
 ('m_firstname',),
 ('m_surname',),
 ('alias',),
 ('patronymic',),
 ('destitle',),
 ('sex',),
 ('age',),
 ('age_estcareer',),
 ('age_estchild',),
 ('res_settlement',),
 ('res_parish',),
 ('res_presbytery',),
 ('res_county',),
 ('res_burgh',),
 ('res_ngr_letters',),
 ('res_ngr_easting',),
 ('res_ngr_northing',),
 ('ethnic_origin',),
 ('maritalstatus',),
 ('socioecstatus',),
 ('occupation',),
 ('notes',),
 ('createdby',),
 ('createdate',),
 ('lastupdatedby',),
 ('lastupdatedon',)]

## c) How many people are included in the accused table?

In [6]:
%%sql
select count(distinct firstname, lastname) as numofpeople from accused

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(3026,)]

## d) Display the columns firstname, sex, and age for 5 cases in the accused table.

In [7]:
%%sql
select firstname, sex, age from accused
limit 5

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
5 rows affected.

[('Mareon', 'Female', None),
 ('Thom', 'Male', None),
 ('Christian', 'Female', None),
 ('Janet', 'Female', None),
 ('Agnes', 'Female', None)]

## e) Looks like the age is missing for some observations. Count the number of nonmissing values for age in the data.

In [8]:
%%sql
select COUNT(age) from accused

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(166,)]

## f) Show a list of unique occupations.

In [9]:
%%sql
select distinct occupation from accused

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
32 rows affected.

[(None,),
 ('Servant',),
 ('Vagabond',),
 ('Weaver',),
 ('Midwife',),
 ('Tailor',),
 ('Messenger',),
 ('Brewster',),
 ('Smith',),
 ('Minister',),
 ('Farmer',),
 ('Mealmaker',),
 ('Tasker',),
 ('Maltman',),
 ('Miller',),
 ('Healer',),
 ('Loadman',),
 ('Blacksmith',),
 ('Shop-keeper',),
 ('Stabler',),
 ('Nurse',),
 ('Collier',),
 ('School teacher',),
 ('Slaterer',),
 ('Workman',),
 ('School Master',),
 ('Merchant',),
 ('Fisherman',),
 ('Henwife',),
 ('Cook',),
 ('Sailor',),
 ('Creelman',)]

# 2. Seeing the Devil

## a) List the unique devil_types in the data.

In [10]:
%%sql
select distinct devil_type from devilappearance

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
16 rows affected.

[('Male',),
 ('Female Fairy',),
 ('Male Fairy',),
 ('Animal Devil',),
 ('Spirit',),
 ('Ghost',),
 ('Other Demon',),
 ('Female',),
 (None,),
 ('Fairy',),
 ('Unspecified Devil',),
 ('Insect Devil',),
 ('Baby',),
 ('Human Devil',),
 ('Child Devil',),
 ('Inanimate Object Devil',)]

## b) There is also a little description of the type of the devil sighting in the devil_text column. How many of the sightings mention the word "black" in the description?

In [11]:
%%sql
select count(devil_text) 
from devilappearance 
where devil_text like'%black%'

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(121,)]

## c) What proportion of the devils (in devil_type) are male?

In [12]:
%%sql

SELECT COUNT(devil_type)/(SELECT COUNT(devil_type)
                 FROM devilappearance) AS 'male_devil_prop'
FROM devilappearance
WHERE devil_type LIKE 'Male%'

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(Decimal('0.6574'),)]

# 3. The trial

## a) What are the average and maximum numbers of male and female accusers?

In [14]:
%%sql
select avg(male_accusers), max(male_accusers), avg(female_accusers), max(female_accusers) from trial

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(0.4181988158304768, 48.0, 0.2559226932668329, 27.0)]

## b) Count the number of sentences by sentence type. List them in a table (in descending order), excluding missing values. Rename the column headings to something sensible.

In [21]:
%%sql
select sentence, count(sentence) as num_sentence
from trial 
where 'sentence' is not null
group by sentence
order by count(sentence) desc

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
11 rows affected.

[('Execution', 205),
 ('Released', 52),
 ('Banishment', 27),
 ('Declared Fugitive', 11),
 ('Excommunicated', 6),
 ('Put to the horn', 2),
 ('Hang', 1),
 ('Branded', 1),
 ('Prison', 1),
 ('Public Humiliation', 1),
 (None, 0)]

## c) Do the number of accusers matter for the verdict? Compare the average number of accusers by the type of verdict. Again make sure the table is sorted and the headings make sense.

In [23]:
%%sql
select avg(male_accusers+female_accusers) as avg, verdict from trial
where verdict is not null
group by verdict
order by avg desc

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
4 rows affected.

[(5.804255319148936, 'Guilty'),
 (4.558139534883721, 'Not Guilty'),
 (1.0, 'Not Proven'),
 (0.2857142857142857, 'Half Guilty')]

# 4. Tortured Truth

## a) Left join the trial and confession tables. For what share of trials does the database record confessions? Create a results table with the number of all trials, the number of confessions, and the share of trials with confessions recorded.

In [33]:
%%sql
with c as 
(select count(trialid) as trial_confes
from trial t
left join confession c
on t.trialref = c.trialref
where confessionid is not null)
,
a as (select count(trialid) as num_trail from trial)
,
b as (select count(confessionid) as num_confes from confession)

select num_trail, num_confes, trial_confes/num_trail as share from b, c, a

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(3211, 941, Decimal('0.2931'))]

## b) Only a small number of trials have records of torture. Is there a higher share of confessions among trials with records of torture than trials without such record? Hint: You will need to merge on the confession table.

In [36]:
%%sql
with t_without as
(
select count(trialid) as trial_confes_notor 
from trial
join confession c
on trial.trialref = c.trialref
where trial.trialref not in
(select torture.trialref from torture)
)
,
a as 
(select count(trialid) as trial_notor
from trial
where trialref not in (select trialref from torture)
or trialref in (select trialref from torture where tortureexists =0 ))

select trial_confes_notor, trial_notor, trial_confes_notor/trial_notor as notor_confes_share from t_without, a

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(906, 3159, Decimal('0.2868'))]

In [37]:
%%sql
with t_with as 
(
select count(trialid) as trial_confes_tor
from trial
join confession c
on trial.trialref = c.trialref
where trial.trialref in
(select torture.trialref from torture
where tortureexists = 1)
)

,
a as 
(select count(trialid) as trial_tor
from trial
where trialref in (select trialref from torture where tortureexists = 1))

select trial_confes_tor, trial_tor, trial_confes_tor/trial_tor as tor_confes_share from t_with, a

 * mysql+pymysql://student:***@witchcraft.csbmzoea3lu9.us-east-1.rds.amazonaws.com/witchcraft
1 rows affected.

[(35, 52, Decimal('0.6731'))]

### There is a higher share of confessions among trials with records of torture than trials without such record